# Node.js core
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# dotenv config
.env
.env.*          # if using dotenv variants like .env.development

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Build output
dist/
build/
public/build/
.nuxt/
.out/

# VSCode
.vscode/
.idea/

# Temporary files
*.swp
*.swo
*.bak

# Coverage/test output
coverage/
nyc_output/
jest-*

# PM2 / runtime process state
pids/
*.pid
*.seed

# MongoDB dump files
dump/

# OS-specific
ehthumbs.db
Icon?
desktop.ini

# Optional if using Vue CLI
*.local
*.cache
node_modules/
